@page
@model GolfClub.Pages.Bookings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PlayerOne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.PlayerOne.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PlayerTwo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.PlayerTwo.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PlayerThree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.PlayerThree.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PlayerFour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.PlayerFour.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.TeeTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.TeeTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Booking.BookingId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
