@page
@model GolfClub.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PlayerOne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.PlayerOne.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PlayerTwo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.PlayerTwo.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PlayerThree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.PlayerThree.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.PlayerFour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.PlayerFour.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.TeeTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.TeeTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking?.BookingId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
