@page
@model GolfClub.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Main Page for Bookings";
}

<h1>Main Page for Bookings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].PlayerOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].PlayerTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].PlayerThree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].PlayerFour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TeeTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerOne.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerTwo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerThree.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerFour.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeeTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
